## **Data Types and Structures Questions**

1.What are data structures, and why are they important?
  -  Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are important because they enable efficient data management, retrieval, and manipulation, which are essential for solving complex problems.



2.Explain the difference between mutable and immutable data types with examples.

-   Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable data types cannot be changed (e.g., tuples, strings).
 Example:
mutable_list = [1, 2, 3]
mutable_list[0] = 10  This is allowed
immutable_tuple = (1, 2, 3)
 immutable_tuple[0] = 10 This will raise an error

3.What are the main differences between lists and tuples in Python?

-  Lists are mutable (can be modified), while tuples are immutable (cannot be modified). Lists use square brackets [], and tuples use parentheses ().
 Example:
list_example = [1, 2, 3]
tuple_example = (1, 2, 3)

4.Describe how dictionaries store data.

 -   Dictionaries store data as key-value pairs. Each key is unique and maps to a value, allowing for fast data retrieval based on the key.
 Example:
my_dict = {'name': 'Alice', 'age': 25}

5.Why might you use a set instead of a list in Python?

 - Sets are used when you need to store unique elements and perform operations like union, intersection, and difference. They are faster for checking membership compared to lists.
Example:
my_set = {1, 2, 3, 4}

6.What is a string in Python, and how is it different from a list?

 -   A string is a sequence of characters, while a list is a sequence of elements that can be of any type. Strings are immutable, while lists are mutable.
Example:
my_string = "Hello"
my_list = ['H', 'e', 'l', 'l', 'o']

7.How do tuples ensure data integrity in Python?

 -   Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, which prevents accidental modifications.
 Example:
my_tuple = (1, 2, 3)
 my_tuple[0] = 10  # This will raise an error

8.What is a hash table, and how does it relate to dictionaries in Python?

 -   A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables, which allows for fast data retrieval.
 Example:
my_dict = {'name': 'Alice', 'age': 25}

9.Can lists contain different data types in Python?

 -   Yes, lists can contain elements of different data types.
 Example:
mixed_list = [1, "hello", 3.14, True]

10.Explain why strings are immutable in Python.

 -   Strings are immutable to ensure that once a string is created, it cannot be changed. This allows for optimizations in memory and performance, and makes strings hashable for use as dictionary keys.
Example:
my_string = "Hello"
 my_string[0] = 'h'  # This will raise an error

11.What advantages do dictionaries offer over lists for certain tasks?

 -   Dictionaries offer faster data retrieval based on keys, and they are more efficient for tasks that involve looking up values by unique identifiers.
 Example:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])   Fast access to value using key

12.Describe a scenario where using a tuple would be preferable over a list.

 -   Tuples are preferable when you want to ensure that the data cannot be changed, such as storing coordinates or configuration settings.
Example:
coordinates = (10, 20)

13.How do sets handle duplicate values in Python?

 -  Sets automatically remove duplicate values, ensuring that all elements are unique.
 Example:
my_set = {1, 2, 2, 3}
print(my_set)   Output: {1, 2, 3}

14.How does the “in” keyword work differently for lists and dictionaries?

 -   For lists, the "in" keyword checks if a value exists in the list. For dictionaries, it checks if a key exists.
 Example:
my_list = [1, 2, 3]
print(2 in my_list)  # True
my_dict = {'name': 'Alice', 'age': 25}
print('name' in my_dict)   True

15.Can you modify the elements of a tuple? Explain why or why not.

 -  No, you cannot modify the elements of a tuple because tuples are immutable.
 Example:
my_tuple = (1, 2, 3)
 my_tuple[0] = 10   This will raise an error

16.What is a nested dictionary, and give an example of its use case.

 -   A nested dictionary is a dictionary that contains other dictionaries. It is useful for representing hierarchical data.
 Example:
nested_dict = {'person': {'name': 'Alice', 'age': 25}}

17.Describe the time complexity of accessing elements in a dictionary.

 -   Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hash tables for fast lookups.
Example:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])   O(1) time complexity

18.In what situations are lists preferred over dictionaries?

 -   Lists are preferred when you need to maintain an ordered collection of elements and when you don't need fast lookups by key.
Example:
my_list = [1, 2, 3, 4]

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

 -   Dictionaries are considered unordered because the order of elements is not guaranteed. However, data retrieval is still fast due to hash tables.
 Example:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])   Fast retrieval, but order is not guaranteed

20
Explain the difference between a list and a dictionary in terms of data retrieval.

 -   Lists retrieve data by index, which has a time complexity of O(1) for access, but searching for an element is O(n). Dictionaries retrieve data by key, which has an average time complexity of O(1).
 Example:
my_list = [1, 2, 3]
print(my_list[0])  # O(1) access by index
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])   O(1) access by key

# **Practical questions solutions**

In [1]:
#1.Write a code to create a string with your name and print it.

name = "Manish"
print(name)

Manish

In [2]:
#2.Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [7]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[:3])

Pyt

In [5]:
#4.Write a code to convert the string "hello" to uppercase.

my_string = "hello"
print(my_string.upper())

HELLO

In [8]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

In [9]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [11]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [12]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [13]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [14]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
#12.Write a code to access the second-to-last element of the tuple (‘red’, ‘green’, ‘blue’, ‘yellow’).
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [16]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [17]:
#14.Write a code to find the index of the element “cat” in the tuple (‘dog’, ‘cat’, ‘rabbit’).

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [18]:
#15.Write a code to create a tuple containing three different fruits and check if “kiwi” is in it.

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [19]:
#16.Write a code to create a set with the elements ‘a’, ‘b’, ‘c’ and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [20]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [24]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [25]:
#21.Write a code to create a dictionary with the keys “name”, “age”, and “city”, and print it.

my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [26]:
#22.Write a code to add a new key-value pair “country”: “USA” to the dictionary {‘name’: ‘John’, ‘age’: ‘25’}.

my_dict = {'name': 'John', 'age': '25'}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [27]:
#23.Write a code to access the value associated with the key “name” in the dictionary {‘name’: ‘Alice’, ‘age’: ‘30’}.

my_dict = {'name': 'Alice', 'age': '30'}
print(my_dict['name'])
#

Alice

In [28]:
#24.Write a code to remove the key “age” from the dictionary {‘name’: ‘Bob’, ‘age’: ‘22’, ‘city’: ‘New York’}.

my_dict = {'name': 'Bob', 'age': '22', 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25.Write a code to check if the key “city” exists in the dictionary {‘name’: ‘Alice’, ‘city’: ‘Paris’}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in my_dict)
#

True

In [30]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'John', 'age': 25}
print(my_list)

[1, 2, 3]

In [31]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[13, 37, 58, 92, 93]

In [32]:
#28.Write a code to create a list with strings and print the element at the third index.

my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[2])

cherry

In [33]:
#29.Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:
#30.Write a code to convert a list of strings into a set.

my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}